.geofield-gmap-cnt {
	width: 600px;
	height: 460px;
	display: block;
  margin: 10px 0;
  border: solid thin darkgray;
}
.geofield-gmap-buttons {
  margin: 10px 0;
}

.geofield_gmap_geoaddress_field_hidden {
  display: none;
}